$cancelled-color: #f16873;

.modal {
  position: fixed;
  width: 350px;
  max-width: 80%;
  top: 50%;
  right: 50%;
  z-index: 200;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.openModal {
  transform: translate(50%, -50%);
}

.closeModal {
  transform: translate(150vw, -50%);
}
