$active-color: #000034;
$hover-color: #5ace9f;
$deactivated-color: #b0b6bd;
$active-background: rgba(90, 206, 159, 0.2);

.navigationItems__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  &__item {
    margin: 0;
    text-align: center;

    &--link {
      border: none;
      background: none;
      color: $deactivated-color;
      font-size: 25px;
      text-decoration: none;
      cursor: pointer;

      &--title {
        margin: 0;
        font-size: 12px;
      }
    }

    &--link:hover,
    &--link:focus,
    .active-link:hover,
    .active-link:focus {
      color: $hover-color;
    }

    .active-link {
      color: $active-color;
    }
  }

  &__item:active {
    background-color: $active-background;
  }
}

.notification-item {
  position: relative;
}

.notification {
  background-color: #ff3546;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: -1px;
  right: 25px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-notification {
  animation: notification-animation 1.5s ease;
}

@keyframes notification-animation {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 768px) {
  .navigationItems__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: initial;

    &__item {
      margin: 25px 0;

      &--link {
        color: $deactivated-color;
        font-size: 25px;

        &--title {
          display: none;
        }
      }

      &--link:hover,
      &--link:focus,
      .active-link:hover,
      .active-link:focus {
        color: $hover-color;
      }

      .active-link {
        color: $active-color;
      }
    }
  }

  .notification {
    top: 0;
    right: 0;
  }
}
